@import "normalize";
@import "boilerplate";

html {
	background-color: rgba(231,231,231,1);
}

body {
	margin: 0 auto;
	width: 60em;
	background-color: red;
}

header{
	width: 100%;
	background-color: black;
	position: fixed;
	left: 0;
	top: 0;
}

header ul li a{
	display: inline-block;
}